SECRET_KEY=your_django_very_secret_key
DEBUG=1

POSTGRES_DB=blog_db
POSTGRES_USER=blog_user
POSTGRES_PASSWORD=blog_secret_password
POSTGRES_PORT=5432
POSTGRES_HOST=db

BLOG_SU_NAME=Oleksandr
BLOG_SU_EMAIL=shcherbininalex81@gmail.com
BLOG_SU_PASSWORD=my_secret_password

EMAIL_HOST_USER=my_email_for_test@gmail.com
EMAIL_HOST_PASSWORD=my_email_password

APROXY_USERNAME=my_api_login
APROXY_PASSWORD=my_proxy_api_super_secret_password