{% extends 'base.html' %}
{%  load static %}
{% block main %}
    <div class="side-menu-wrap">
        <button class="side-menu-close"><span></span></button>
        <div class="side-menu-inner">

            <div class="side-logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt=""></a></div>

            <div class="side-menu nice-scroll">
                <nav>
                    <ul>
                        <li class="menu-item"><a href="/">Home</a>
                        </li>
                        <li class="menu-item"><a href="{% url 'admin:index' %}">Login Register</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="side-social">
            </div>

        </div>
    </div>

    <div class="side-menu-overlay"></div>

    <!-- Page Banner Section Start -->
    <div class="page-banner-section section bg-gray">
        <div class="container">
            <div class="row">
                <div class="page-banner-content col text-center">
                    <h1>Blog</h1>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="/">Home</a></li>
                        <li>Future Proof Test Blog</li>
                    </ul>
                    {% if messages %}
                       <div class="alert alert-success" role="alert">
                       {% for message in messages %}
                          <p>{{ message }}</p>
                       {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Blog Page Start -->
    <div class="page-section section mt-100 mb-60 mt-xs-70 mb-xs-30">
        <div class="container">
            <div class="row row-25">

                <div class="col-lg-9 col-12 order-1 order-lg-2 mb-40">
                    <div class="row">
                        {% for post in object_list %}
                        <div class="col-md-6 col-12 mb-50">
                            <div class="blog-item">
                                <a href="{% url 'post' post.slug %}" class="image"><img src="{{ post.image.url }}" alt="{{post.title}}"></a>
                                <div class="content">
                                    <h3 class="title"><a href="{% url 'post' post.slug %}">{{post.title}}</a></h3>
                                    <ul class="meta">
                                        <li>By: {{post.author.name}}</li>
                                        <li><span>{{post.created}}</span></li>
                                    </ul>
                                    <div class="desc">
                                        <p>{{post.content |truncatewords:20 | safe}}</p>
                                    </div>
                                    <a href="{% url 'post' post.slug %}" class="read-more">read more</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% include 'pagination.html' %}
                </div>
                <div class="col-lg-3 col-12 order-2 order-lg-1">
                    <div class="sidebar">
                        <h3 class="title">Freshest Post</h3>

                        <div class="sidebar-blog-wrap">
                            {% for post in freshest_posts %}
                            <div class="sidebar-blog">
                                <a href="{% url 'post' post.slug %}" class="image"><img
                                        src="{{post.image.url}}" alt=""></a>
                                <div class="content">
                                    <a href="{% url 'post' post.slug %}" class="title">{{post.title}}</a>
                                    <span class="date">{{post.created}}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="sidebar">
                        <h3 class="title">Tags</h3>
                        <ul class="sidebar-tag">
                            {% for tag in categories %}
                            <li><a href="?tag={{ tag.slug }}">{{tag.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Blog Page End -->

    <!-- Subscribe Section Start -->
    <div class="subscribe-section section bg-light-blue pt-55 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 ml-auto mr-auto col-12">
                    <div class="row align-items-center">

                        <!-- Mailchimp Subscribe Content Start -->
                        <div class="col-lg-6 col-12 mb-15 mt-15">
                            <div class="subscribe-content">
                                <h2>Subscribe to our Newsletter</h2>
                            </div>
                        </div><!-- Mailchimp Subscribe Content End -->

                        <!-- Mailchimp Subscribe Form Start -->
                        <div class="col-lg-6 col-12 mb-15 mt-15">
                            <form id="mc-form" class="mc-form subscribe-form" action="/" method="post">
                                {% csrf_token %}
                                {{form}}
                                <button id="mc-submit">subscribe</button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->

                        </div><!-- Mailchimp Subscribe Form End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe Section End -->
{% endblock %}
