{% extends 'base.html' %}
{% block main %}

    <div class="side-menu-overlay"></div>

    <!-- Page Banner Section Start -->
    <div class="page-banner-section section bg-gray">
        <div class="container">
            <div class="row">
                <div class="page-banner-content col text-center">
                    <h1>Blog about {% for tag in tags %}{{tag.name}} {% endfor %}</h1>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="/">Home</a></li>
                        <li>{{object.title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Blog Page Start -->
    <div class="page-section section mt-100 mb-60 mt-xs-70 mb-xs-30">
        <div class="container">
            <div class="row row-25">

                <div class="col-lg-9 col-12 order-1 order-lg-2 mb-40">

                    <div class="single-blog-item">
                        <div class="image"><img src="{{object.image.url}}" alt="{{object.title}}"></div>
                        <div class="content">
                            <h1 class="title">{{object.title}}</h1>
                            <ul class="meta">
                                <li>By: {{object.author.name}}</li>
                                <li><span>{{object.created}}</span></li>
                            </ul>
                            <div class="desc">
                                {{object.content | safe}}
                            </div>

                            <div class="blog-footer row mt-45">
                                <div class="post-tags col-lg-6 col-12 mv-15">
                                </div>

                                <div class="post-share col-lg-6 col-12 mv-15">
                                    <h4>Share on facebook:</h4>
                                    <ul class="share">
                                        <li><a href="https://www.facebook.com/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'post' object.slug %}"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="comment-wrap mt-70">
                    </div>

                </div>


                <div class="col-lg-3 col-12 order-2 order-lg-1">

                    <div class="sidebar">
                        <h3 class="title">Freshest Posts</h3>

                        <div class="sidebar-blog-wrap">
                            {% for post in freshest_posts %}
                            <div class="sidebar-blog">
                                <a href="{% url 'post' post.slug %}" class="image"><img
                                        src="{{post.image.url}}" alt=""></a>
                                <div class="content">
                                    <a href="{% url 'post' post.slug %}" class="title">{{post.title}}</a>
                                    <span class="date">{{post.created}}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>

                    <div class="sidebar">
                        <h3 class="title">Tags</h3>
                        <ul class="sidebar-tag">
                            {% for tag in categories %}
                            <li><a href="?tag={{ tag.slug }}">{{tag.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Blog Page End -->
{% endblock main %}